
/_ReSharper.Building-Blocks
/Building-Blocks.sln.docstates.suo
/Building-Blocks.suo
/Building-Blocks.6.0.ReSharper.user
/*/obj
/*/bin
/*/*.user
*.cache
/packages/AutoMapper.2.0.0/AutoMapper.2.0.0.nupkg
/packages/AutoMapper.2.0.0/lib/net40-client/AutoMapper.dll
/packages/AutoMapper.2.0.0/lib/net40-client/AutoMapper.xml
/packages/AutoMapper.2.0.0/lib/sl4/AutoMapper.XML
/packages/AutoMapper.2.0.0/lib/sl4/AutoMapper.dll
/packages/AutoPocoBeta.1.2.0/AutoPocoBeta.1.2.0.nupkg
/packages/AutoPocoBeta.1.2.0/lib/AutoPoco.dll
/packages/Castle.Core.2.5.2/Castle.Core.2.5.2.nupkg
/packages/Castle.Core.2.5.2/lib/ASL - Apache Software Foundation License.txt
/packages/Castle.Core.2.5.2/lib/BreakingChanges.txt
/packages/Castle.Core.2.5.2/lib/Changes.txt
/packages/Castle.Core.2.5.2/lib/Committers.txt
/packages/Castle.Core.2.5.2/lib/NET35/Castle.Core.dll
/packages/Castle.Core.2.5.2/lib/NET35/Castle.Core.xml
/packages/Castle.Core.2.5.2/lib/NET40ClientProfile/Castle.Core.dll
/packages/Castle.Core.2.5.2/lib/NET40ClientProfile/Castle.Core.xml
/packages/Castle.Core.2.5.2/lib/SL3/Castle.Core.dll
/packages/Castle.Core.2.5.2/lib/SL3/Castle.Core.xml
/packages/Castle.Core.2.5.2/lib/SL4/Castle.Core.dll
/packages/Castle.Core.2.5.2/lib/SL4/Castle.Core.xml
/packages/Castle.Core.2.5.2/lib/releaseNotes.txt
/packages/Common.Logging.2.0.0/Common.Logging.2.0.0.nupkg
/packages/Common.Logging.2.0.0/lib/2.0/Common.Logging.dll
/packages/CuttingEdge.Conditions.1.2.0.0/CuttingEdge.Conditions.1.2.0.0.nupkg
/packages/CuttingEdge.Conditions.1.2.0.0/lib/NET35/Code Snippets/ReSharper/CuttingEdge.Conditions Live Templates for ReSharper.xml
/packages/CuttingEdge.Conditions.1.2.0.0/lib/NET35/Code Snippets/Visual Studio/Visual Basic/My Code Snippets/ensures.snippet
/packages/CuttingEdge.Conditions.1.2.0.0/lib/NET35/Code Snippets/Visual Studio/Visual Basic/My Code Snippets/requires.snippet
/packages/CuttingEdge.Conditions.1.2.0.0/lib/NET35/Code Snippets/Visual Studio/Visual C-Sharp/My Code Snippets/ensures.snippet
/packages/CuttingEdge.Conditions.1.2.0.0/lib/NET35/Code Snippets/Visual Studio/Visual C-Sharp/My Code Snippets/requires.snippet
/packages/CuttingEdge.Conditions.1.2.0.0/lib/NET35/CuttingEdge.Conditions.dll
/packages/CuttingEdge.Conditions.1.2.0.0/lib/NET35/CuttingEdge.Conditions.xml
/packages/CuttingEdge.Conditions.1.2.0.0/lib/NET35/Documentation/CuttingEdge.Conditions.chm
/packages/FluentAssertions.1.5.0.0/FluentAssertions.1.5.0.0.nupkg
/packages/FluentAssertions.1.5.0.0/Lib/.NetFramework 3.5/FluentAssertions.dll
/packages/FluentAssertions.1.5.0.0/Lib/.NetFramework 3.5/FluentAssertions.xml
/packages/FluentAssertions.1.5.0.0/Lib/.NetFramework 4.0/FluentAssertions.dll
/packages/FluentAssertions.1.5.0.0/Lib/.NetFramework 4.0/FluentAssertions.xml
/packages/FluentAssertions.1.5.0.0/Lib/Silverlight 4.0/FluentAssertions.Silverlight.dll
/packages/FluentAssertions.1.5.0.0/Lib/Silverlight 4.0/FluentAssertions.Silverlight.xml
/packages/FluentAssertions.1.5.0.0/Lib/Silverlight 4.0/Microsoft.VisualStudio.QualityTools.UnitTesting.Silverlight.dll
/packages/FluentAssertions.1.5.0.0/Lib/Silverlight 4.0/Microsoft.VisualStudio.QualityTools.UnitTesting.Silverlight.pdb
/packages/FluentAssertions.1.5.0.0/Lib/Silverlight 4.0/Microsoft.VisualStudio.QualityTools.UnitTesting.Silverlight.xml
/packages/FluentAssertions.1.5.0.0/Lib/Silverlight 4.0/System.Xml.Serialization.dll
/packages/FluentAssertions.1.5.0.0/Lib/Silverlight 4.0/System.Xml.Serialization.xml
/packages/FluentAssertions.1.5.0.0/Lib/Silverlight 4.0/de/System.Xml.Serialization.resources.dll
/packages/FluentAssertions.1.5.0.0/Lib/Silverlight 4.0/es/System.Xml.Serialization.resources.dll
/packages/FluentAssertions.1.5.0.0/Lib/Silverlight 4.0/fr/System.Xml.Serialization.resources.dll
/packages/FluentAssertions.1.5.0.0/Lib/Silverlight 4.0/it/System.Xml.Serialization.resources.dll
/packages/FluentAssertions.1.5.0.0/Lib/Silverlight 4.0/ja/System.Xml.Serialization.resources.dll
/packages/FluentAssertions.1.5.0.0/Lib/Silverlight 4.0/ko/System.Xml.Serialization.resources.dll
/packages/FluentAssertions.1.5.0.0/Lib/Silverlight 4.0/ru/System.Xml.Serialization.resources.dll
/packages/FluentAssertions.1.5.0.0/Lib/Silverlight 4.0/zh-Hans/System.Xml.Serialization.resources.dll
/packages/FluentAssertions.1.5.0.0/Lib/Silverlight 4.0/zh-Hant/System.Xml.Serialization.resources.dll
/packages/FluentNHibernate.1.2.0.712/FluentNHibernate.1.2.0.712.nupkg
/packages/FluentNHibernate.1.2.0.712/lib/FluentNHibernate.dll
/packages/FluentNHibernate.1.2.0.712/lib/FluentNHibernate.pdb
/packages/Iesi.Collections.3.1.0.4000/Iesi.Collections.3.1.0.4000.nupkg
/packages/Iesi.Collections.3.1.0.4000/lib/Net35/Iesi.Collections.dll
/packages/Iesi.Collections.3.1.0.4000/lib/Net35/Iesi.Collections.license.txt
/packages/Iesi.Collections.3.1.0.4000/lib/Net35/Iesi.Collections.pdb
/packages/Moq.4.0.10827/License.txt
/packages/Moq.4.0.10827/Moq.4.0.10827.nupkg
/packages/Moq.4.0.10827/Moq.chm
/packages/Moq.4.0.10827/lib/NET35/Moq.dll
/packages/Moq.4.0.10827/lib/NET35/Moq.pdb
/packages/Moq.4.0.10827/lib/NET35/Moq.xml
/packages/Moq.4.0.10827/lib/NET40/Moq.dll
/packages/Moq.4.0.10827/lib/NET40/Moq.pdb
/packages/Moq.4.0.10827/lib/NET40/Moq.xml
/packages/Moq.4.0.10827/lib/Silverlight4/Castle.Core.dll
/packages/Moq.4.0.10827/lib/Silverlight4/Moq.Silverlight.dll
/packages/Moq.4.0.10827/lib/Silverlight4/Moq.Silverlight.pdb
/packages/Moq.4.0.10827/lib/Silverlight4/Moq.Silverlight.xml
/packages/NHibernate.3.1.0.4000/NHibernate.3.1.0.4000.nupkg
/packages/NHibernate.3.1.0.4000/lib/Net35/NHibernate.dll
/packages/NHibernate.3.1.0.4000/lib/Net35/NHibernate.license.txt
/packages/NHibernate.3.1.0.4000/lib/Net35/NHibernate.readme.html
/packages/NHibernate.3.1.0.4000/lib/Net35/NHibernate.releasenotes.txt
/packages/NHibernate.3.1.0.4000/lib/Net35/NHibernateXmlConfigurationTemplates/FireBird.cfg.xml
/packages/NHibernate.3.1.0.4000/lib/Net35/NHibernateXmlConfigurationTemplates/MSSQL.cfg.xml
/packages/NHibernate.3.1.0.4000/lib/Net35/NHibernateXmlConfigurationTemplates/MySql.cfg.xml
/packages/NHibernate.3.1.0.4000/lib/Net35/NHibernateXmlConfigurationTemplates/Oracle.cfg.xml
/packages/NHibernate.3.1.0.4000/lib/Net35/NHibernateXmlConfigurationTemplates/PostgreSQL.cfg.xml
/packages/NHibernate.3.1.0.4000/lib/Net35/NHibernateXmlConfigurationTemplates/SQLite.cfg.xml
/packages/NHibernate.Castle.3.1.0.4000/NHibernate.Castle.3.1.0.4000.nupkg
/packages/NHibernate.Castle.3.1.0.4000/lib/Net35/NHibernate.ByteCode.Castle.dll
/packages/NHibernate.Castle.3.1.0.4000/lib/Net35/NHibernate.ByteCode.Castle.xml
/packages/NHibernate.Logging.1.1.0/NHibernate.Logging.1.1.0.nupkg
/packages/NHibernate.Logging.1.1.0/content/App.config.transform
/packages/NHibernate.Logging.1.1.0/lib/3.5/NHibernate.Logging.CommonLogging.dll
/packages/NHibernate.Logging.1.1.0/lib/3.5/NHibernate.Logging.CommonLogging.xml
/packages/structuremap.2.6.3/lib/StructureMap.XML
/packages/structuremap.2.6.3/lib/StructureMap.dll
/packages/structuremap.2.6.3/lib/StructureMap.pdb
/packages/structuremap.2.6.3/structuremap.2.6.3.nupkg