<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">    
    <qualifyAssembly partialName="System.Data.SQLite" fullName="System.Data.SQLite, Version=1.0.51.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139, processorArchitecture=x86"/>    
  </assemblyBinding>
</configuration>